:root {
  --slate-50: #f8fafc;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-900: #0f172a;
}

body {
  background-color: var(--slate-300);
  font-family: sans-serif;
  color: var(--slate-900);
}

li {
  list-style: none;
}

.all-articles-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  /* border: 2px solid rgb(32, 65, 255); */
}

.body-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* background-color: var(--slate-200); */
  /* border: 2px solid red; */
}

/******************************** NAVIGATION BAR ******************************/

nav {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--slate-900);
  background-color: var(--slate-200);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav > ul {
  display: flex;
  gap: 2rem;
}

/* nav > ul > li {
  border: 3px solid var(--slate-900);
} */

/********************************* ARTICLE ************************************/

article {
  display: flex;
  flex-direction: column;
  background-color: var(--slate-50);
  border: 3px solid var(--slate-900);
  border-radius: 1rem;
  padding: 1rem;
}

p {
  max-width: 75ch;
}
