:root {
  --pamplemousse-50: #fff8f4;
  --pamplemousse-100: #ffe4dc;
  --pamplemousse-150: #ffd0c2;
  --pamplemousse-200: #ffa296;
  --pamplemousse-300: #ff542e;
  --pamplemousse-350: #8f3e2c;
  --pamplemousse-400: #6e4541;
  --pamplemousse-500: #0c0100;
  --pamplemousse-shadow: rgba(12, 1, 0, 0.08);
}

header {
  background-color: var(--pamplemousse-100);
  position: sticky;
  top: 0px;
  /* background: gradient(crimson, skyblue); */
}

body {
  background-color: var(--pamplemousse-100);
  /* Default text Style */
  font-family: "Anybody", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: var(--pamplemousse-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anybody", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.03em;
  font-stretch: 95%;
}

a {
  color: var(--pamplemousse-350);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--pamplemousse-500);
}

li {
  list-style: none;
}

small {
  color: var(--pamplemousse-400);
  font-size: 0.875rem;
}

.body-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* border: 2px solid rgb(255, 66, 66); */
}

/******************************** LOGIN PAGE **********************************/

.login-form-page-row {
  display: flex;
  justify-content: center;
  /* border: 2px solid coral; */
}

.login-form-page-row > .login-form-elements-col {
  flex-basis: 80ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid rebeccapurple; */
}

/******************************** NAVIGATION BAR ******************************/

nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--pamplemousse-400);
  /* background-color: var(--slate-100); */
  padding: 1rem;
}

nav > ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

/* nav > ul > li {
  border: 3px solid var(--slate-900);
} */

/********************************* ARTICLES PAGE ******************************/

.articles-page-row {
  display: flex;
  justify-content: center;
  /* border: 2px solid coral; */
}

.articles-page-row > .articles-elements-col {
  flex-basis: 80ch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 2px solid rebeccapurple; */
}

article {
  display: flex;
  flex-direction: column;
  background-color: var(--pamplemousse-50);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 12px var(--pamplemousse-shadow);
}

.article-title {
  padding-top: 0.5rem;
}

.article-text-content {
  padding-top: 1rem;
}

.article-header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/********************************* REGISTER PAGE ******************************/

.register-form-page-row {
  display: flex;
  justify-content: center;
  /* border: 2px solid coral; */
}

.register-form-page-row > .register-form-elements-col {
  flex-basis: 80ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid rebeccapurple; */
}

/********************************* FORM ***************************************/

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  background-color: var(--pamplemousse-50);
  /* background-color: #ff8f84; */
  padding: 2rem;
  box-shadow: 0 2px 12px var(--pamplemousse-shadow);
}

input {
  height: 2.5rem;
  background-color: var(--pamplemousse-50);
  border: 1px solid var(--pamplemousse-400);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
input:hover {
  background-color: #fff;
  border: 2px solid var(--pamplemousse-200);
}

form > p {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form > ul {
  list-style-type: disc;
  padding-left: 1rem;
  color: var(--pamplemousse-400);
  font-size: 0.875rem;
}

form > ul > li {
  list-style-type: disc;
}

form > button[type="submit"] {
  height: 2.5rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: var(--pamplemousse-300);
  color: var(--pamplemousse-50);
  font-weight: 600;
}

form > button[type="submit"]:hover {
  background-color: var(--pamplemousse-350);
  color: var(--pamplemousse-50);
}

form > button[type="submit"].danger {
  height: 2.5rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: red;
  color: var(--pamplemousse-50);
  font-weight: 600;
}
form > button[type="submit"].danger:hover {
  background-color: darkred;
  color: var(--pamplemousse-50);
}

.helptext {
  color: var(--pamplemousse-400);
  font-size: 0.875rem;
}

/********************************* ALERT **************************************/

.alert {
  align-self: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.alert-success {
  border: 3px solid green;
  background-color: rgba(0, 128, 0, 0.2);
  color: darkgreen;
}

.alert-error {
  /* display: flex; */
  border: 3px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

/******************************** LOGOUT BUTTON AS A FORM *********************/

#logout-form {
  display: inline;
  border-radius: initial;
  background-color: initial;
  padding: 0;
  box-shadow: initial;
}

#logout-form-button {
  background: initial;
  height: fit-content;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

#logout-form button:hover {
  text-decoration: none;
  color: darkblue;
}

/******************************** PROFILE PAGE ********************************/

.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-picture {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-picture-article {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--pamplemousse-300);
}

/******************************** CRUS POSTS **********************************/

.ud-actions-post {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  gap: 1rem;
}

.delete-post {
  color: red;
}
