{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Anybody:wght@400;600;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/reset.css' %}" />
    {% if title %}
    <title>Pamplemousse - {{ title }}</title>
    {% else %}
    <title>Pamplemousse</title>
    {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'blog-home' %}">Home</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'blog-about' %}">About</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button id="logout-form-button" type="submit">Log out</button>
          </form>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="body-content-container">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endif %}{% block content %}{% endblock %}
    </div>
  </body>
</html>
