{% extends "blog/base.html" %} {% block content %}
<div class="articles-page-row">
  <div class="articles-elements-col">
    <h1>All articles</h1>
    {% for post in posts %}
    <article>
      <div class="article-content-container">
        <p>
          <a href="#">{{ post.author }}</a>
          <small>{{ post.date_posted|date:"F d, Y" }}</small>
        </p>
        <h2 class="article-title"><a href="#">{{ post.title }}</a></h2>
        <p class="article-text-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}{% endblock %}
  </div>
</div>
